@import url('https://fonts.googleapis.com/css?family=Neucha&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #333;
  --secondary-color: #eee;
  --font-color: #333;
  --bg-color: #fff;
  --heading-color: #000;
}

[data-mode="dark"] {
    --primary-color: #eee;
    --secondary-color: #333;
    --font-color: #eee;
    --bg-color: #333;
    --heading-color: #61dafb;
}

body {
  font-family: 'Neucha', cursive;
  font-size: 18px;
}

.App {
  padding: 45px 30px;
  background: var(--secondary-color);
}

.switch {
  position: relative;
  height: 30px;
  width: 60px;
  cursor: pointer;
  background: var(--primary-color);
  border-radius: 40px;
  margin-bottom: 15px;
}

.switch:after {
  content: "";
  position: absolute;
  left: 0;
  height: 20px;
  width: 20px;
  margin: 5px;
  background: var(--secondary-color);
  border-radius: 40px;
  transition: 0.5s all;
}

.switch.dark:after {
  left: calc(100% - 30px);
}

.App h3 {
  font-size: 36px;
  margin-top: 25px;
  margin-bottom: 15px;
  color: var(--heading-color);
}

.App p {
  font-size: 26px;
  color: var(--font-color);
}

.App img {
  width: 120px;
  height: 120px;
  margin-bottom: 25px;
  background: var(--primary-color);
}
